@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: #e6edf3;
  background-color: #010409;

  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}